#more{
    float: right;
    width: 25px;
    height: 25px;
}
#title{
    display:inline;
    padding: 0px 0px 0px 32px;
}

.Header {
    text-align: center;
    margin-top:0.3cm;
    margin-right: 10px;
  }